.slider-title {
  color: #ffff;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  margin-top: 0;
  padding-top: 50px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 450px;
  margin: 0 auto;
  margin-top: 50px;
}

.current-image {
  border-radius: 0.5rem;
  box-shadow: 0 0 7px #666;
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: #fff;
  filter: drop-shadow(0 0 5px #555);
}

.arrow-left {
  left: 1rem;
  cursor: pointer;
}

.arrow-left:hover {
  color: rgb(184, 172, 172);
}

.arrow-right {
  right: 1rem;
  cursor: pointer;
}

.arrow-right:hover {
  color: rgb(184, 172, 172);
}

.circle-indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.current-indicator {
  background-color: #fff;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
}

.hide-current-image {
  display: none;
}

.inactive-indicator {
  background-color: grey;
}
